.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  margin: 0 .3em;
  position: relative;
  vertical-align: sub;
}
.hidden { display: none; }
img.thumb {
  max-width: calc(min(400px, 100%));
  max-height: 192px;
}
table#resource th:nth-child(1),
table#resource th:nth-child(2) { width: 10%; }
table#resource th:nth-child(3) { width: 30%; }
table#resource th:nth-child(4) { width: 50%; }
@media only screen and (max-width: 500px) {
	table#resource tr > :nth-child(1),
	table#resource tr > :nth-child(2) { display: none; }
}

/* post-meta */
div.post-meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);
  font-size: $font-size-14;

  & * { margin: 0; }
}
h5.date {
  display: inline-block;
  margin: 0;
}
div.tags a,
div.categories a {
  display: inline-block;
  font-weight: 700;
  font-size: .8em;
  padding: 0;
  margin: 0 0.1em;
}
div.tags a::before { content:"#"; }
div.categories a::before { content:"@"; }

.book-post {
  & > * {
    margin-top: 0em !important;
    margin-bottom: .5em !important;
  }
  & div.post-meta {
    margin: 0 !important;
    & * { 
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}

#posts {
  border-collapse:collapse;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;*/

  & td.date {
    padding:0;
    text-align: center;
    vertical-align: top;
    background:linear-gradient(gray, gray) no-repeat center/2px 100%;
    transform: translateY(-.5em);

    & span {
      display:block;
      padding-bottom:.3em;
      background:var(--body-background);
    }
    & .day {
      font-weight:bold;
      font-size:1.5em
    }
    & .month { color: var(--em-font-color); }
  }
  & a.read-more { filter: grayscale(100%); }
  & .book-post { border-top: 1px solid gray; }
}

.book-page {
  padding: 3rem 0;
  & > .markdown, & > #posts { margin: auto }
}
.markdown { padding: 1rem; }
div.highlight { margin: 0 -1rem; }
figure.inline {
  display: inline-block;
  margin: 0;
  text-align: center;
}
a.book-btn { margin: .2em .1em; }

.wrap > pre { white-space: pre-wrap; }
.active { font-weight: bold; }