.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  margin: 0 .3em;
  position: relative;
  vertical-align: sub;
}
.hidden { display: none; }
img.thumb {
  max-width: calc(min(400px, 100%));
  max-height: 192px;
}
table#resource th:nth-child(1),
table#resource th:nth-child(2) { width: 10%; }
table#resource th:nth-child(3) { width: 30%; }
table#resource th:nth-child(4) { width: 50%; }
@media only screen and (max-width: 500px) {
	table#resource tr > :nth-child(1),
	table#resource tr > :nth-child(2) { display: none; }
}

/* post-meta */
div.post-meta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: .5rem;

  & * {
    margin: 0;
    color: #aaa;
  }
}
h5.date {
  display: inline-block;
  margin: 0;
}
div.tags a,
div.categories a {
  display: inline-block;
  font-weight: 700;
  font-size: .8em;
  padding: 0;
  margin: 0 0.1em;
}
div.tags a::before { content:"#"; }
div.categories a::before { content:"@"; }

#posts .book-post {
  > * {
    margin-top: 0em;
    margin-bottom: .5em;
  }
  div:first-of-type > * {
    margin-top: 0em !important;
    margin-bottom: .5em !important;
  }
}

#breadcrumbs { margin: 0 1em; }
#posts {
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;*/

  .single-meta { 
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
  .book-post { border-top: 1px solid gray; }
}
.markdown table.pages { 
  border-collapse:collapse;
  td { border-style: none}
  td:nth-child(3) { border-right-style: solid; }
}

.book-page {
  padding: .5rem 0;
  & > .markdown, & > #posts { margin: auto }
}
.markdown { padding: 1rem; }
div.highlight { margin: 0 -1rem; }
figure.inline { display: inline-block; }
figure.right{ float: right; }
figure.left { float: left; }
figure.inline, figure.right, figure.left { margin: .1em; }

a.book-btn { margin: .2em .1em; }
.active { font-weight: bold; }
.wrap > pre { white-space: pre-wrap; }

a.footnote-ref, a.footnote-backref {
  text-decoration: none;
  color: var(--color-link);
}

polygon { fill: transparent; }
$language: hsl(0,   100%, 80%);
$course: hsl(35,  100%, 80%);
$project: hsl(60,  100%, 80%);
$stack: hsl(100, 100%, 80%);
$library: hsl(170, 100%, 80%);
$database: hsl(200, 100%, 80%);
$method: hsl(240, 100%, 80%);
.language { fill: $language; color: $language; }
.library { fill: $library; color: $library; }
.course { fill: $course; color: $course; }
.method { fill: $method; color: $method; }
.project { fill: $project; color: $project; }
.database { fill: $database; color: $database; }
.stack { fill: $stack; color: $stack; }
svg {
  max-width: 100%;
  height: auto;
  .node :nth-child(3), .node a :nth-child(2) { fill: var(--body-font-color); }
}