{{ define "main" }}
  <div id="posts">
  {{ range sort .Paginator.Pages }}
    <article class="markdown book-post">
      <h2>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <div>
        {{- .Summary -}}
      </div>
      <div class="single-meta">
          <span>{{ .Date.Format "02 Jan 2006" }}</span>
          <span>{{ .ReadingTime }} mins</span>
          <span>{{ if .Truncated }}
            <a class="read-more" href="{{ .RelPermalink }}">more...</a>
          {{ end }}</span>
      </div>
    </article>
  {{ end }}
</div>
  {{ template "_internal/pagination.html" . }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}